"on":
    push:
        branches:
            - main
name: Deploy to gift-draw
jobs:
    porter-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Github tag
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
            - name: Setup porter
              uses: porter-dev/setup-porter@v0.1.0
            - name: Deploy stack
              timeout-minutes: 30
              run: porter apply
              env:
                PORTER_APP_NAME: gift-draw
                PORTER_CLUSTER: "1"
                PORTER_DEPLOYMENT_TARGET_ID: 5a131d2e-874a-4ea1-9c2c-2cd76e973cfd
                PORTER_HOST: https://jack.withporter.run
                PORTER_PROJECT: "1"
                PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
                PORTER_TOKEN: ${{ secrets.PORTER_APP_1_730010124 }}
